@import "tailwindcss";
.hide-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;  
  
  /* Firefox */
  scrollbar-width: none;  
}

/* Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
